html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    font-family: Calibri, Verdana, Tahoma, sans-serif;
    padding-bottom: 80px;
    padding-top: 80px;
}

.navbar {
    background: black;
    opacity: 0.95;
    padding-left: 3em;
    border: transparent;
    box-shadow: 0 0 10px black;
}

.top-header {
    font-size: 150%;
    color: #ccc !important;
}

textarea.codeBlock {
    display: block;
    width: 100%;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    line-height: 1.42857143;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    resize: none;
}

pre, textarea {
    border-radius: 1em;
    overflow: auto;
    min-height: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-row {
    display: block;
    margin-bottom: 1em;
}

textarea, .textbox, pre {
    outline: none;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid transparent !important;
    padding: 1em 2em;
}

.label-120 {
    margin-left: .5em;
    display: inline-block;
    width: 120px;
}

    .label-120 input {
        margin-right: 0.5em;
    }

.textbox {
    display: inline-block;
    min-width: 500px;
    border-radius: 1em;
    padding: .5em 1em;
    margin-top: 1em;
}

code {
    margin-right: .5em;
    border: 1px solid #ccc;
    padding: 5px;
}

    code:hover {
        cursor: pointer;
        box-shadow: 0 0 10px grey;
        font-family: cursive;
    }

.pull-right {
    margin-bottom: 1em;
}

.btn {
    margin-left: .5em;
}

.myBtn {
    display: block;
    min-width: 100px;
    padding: .5em 1em;
    background: black;
    opacity: .9;
    border-radius: .5em;
    border: 1px solid transparent;
}

#searchBox {
    border: none;
    outline: none;
}

#headDeleteImg :hover {
    cursor: progress;
}

.myCheckbox {
    display: inline-block;
    outline: none;
}

.tagContainer {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.divider {
    width: 50%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-fixed-width {
    min-width: 90%;
    max-width: 95%;
    box-shadow: 0 0 10px black;
}

.h3-title {
    color: #428bca;
    font-size: large;
    font-weight: bold;
}
/*Newly added*/

.sign, .modal-sign {
    display: block;
    margin-top: -35px;
    z-index: 99;
    position: relative;
    height: 34px;
    min-width: 500px;
    text-align: center;
    background: white;
    padding-top: 5px;
    font-weight: bolder;
    box-shadow: 0 3px 5px #333;
}

.modal-sign {
    margin-top: -40px;
    height: 40px;
}

body, * {
    font-family: cursive;
}

.img-preview {
    display: block;
    width: 450px;
    margin-left: 30px;
    box-shadow: 0 0 10px black;
}

.div-left {
    display: inline-block;
    position: inherit;
    min-width: 500px;
    float: left;
}

.div-right {
    display: inline-block;
    position: inherit;
    min-width: 300px;
    float: right;
}

.div-record {
    display: block;
    width: 100%;
}

.div-divider {
    display: block;
    clear: both;
    height: 50px;
}

.div-info {
    padding-top: 20px;
}

.a-title {
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

    .a-title:hover {
        text-decoration: none;
    }

.str-name {
    color: #428bca;
}

.div-loading img {
    display: block;
    margin: 50px auto;
}

#div-login-shortcut {
    display: inline-block;
    float: right;
    margin: 15px 30px;
}

.modal-img {
    width: 550px;
    box-shadow: 0 0 10px black;
}
/*End add*/
