body {
    font-family: Calibri, Verdana, Tahoma, sans-serif;
    padding-bottom: 80px;
    padding-top: 60px;
}

.navbar {
    background: black;
    opacity: 0.9;
    padding-left: 3em;
    border: transparent;
    box-shadow: 0 0 10px black;
}

#top-header {
    font-size: 150%;
    color: #ccc !important;
}

textarea.codeBlock {
    display: block;
    width: 100%;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    line-height: 1.42857143;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    resize: none;
}

pre, textarea {
    border-radius: 1em;
    overflow: auto;
    min-height: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-row {
    display: block;
    margin-bottom: 1em;
}

textarea, .textbox, pre {
    outline: none;
    box-shadow: 0 0 10px #ccc;
    border: 1px solid transparent !important;
    padding: 1em 2em;
}

.label-120 {
    margin-left: .5em;
    display: inline-block;
    width: 120px;
}

    .label-120 input {
        margin-right: 0.5em;
    }

.textbox {
    display: inline-block;
    min-width: 500px;
    border-radius: 1em;
    padding: .5em 1em;
    margin-top: 1em;
}

code {
    margin-right: .5em;
    border: 1px solid #ccc;
    padding:5px;
}
code:hover {
        cursor: pointer;
    }

.pull-right {
    margin-bottom: 1em;
}

.btn {
    margin-left: .5em;
}

.myBtn {
    display: block;
    min-width: 100px;
    padding: .5em 1em;
    background: black;
    opacity: .9;
    border-radius: .5em;
    border: 1px solid transparent;
}

#searchBox {
    border: none;
    outline: none;
}

#headDeleteImg :hover {
    cursor: progress;
}

.myCheckbox {
    display: inline-block;
    outline: none;
}

.tagContainer {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.divider {
    width: 50%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img_fixed_width {
    min-width: 80%;
    max-width: 95%;
}
