<div infinite-scroll="loadMore()">
    <div class="div-loading" ng-show="loading">
        <img src="https://raw.githubusercontent.com/PhuongNM4/ImageStore/gh-pages/imgs/loader_1.gif" />
    </div>
    <div ng-repeat="b in blocks | filter: query">
        <div class="div-record">
            <div class="col-md-6">
                <a href="#/view/{{b.$id}}" class="a-title"><span ng-bind-template="{{b.title}}"></span></a>
                <!--<a href="#/view/{{b.$id}}">
                    <img class="img-preview center-block" fallback-src="https://raw.githubusercontent.com/PhuongNM4/ImageStore/gh-pages/imgs/photo_not_available.png" ng-src="{{b.url}}" />
                </a>-->
                <p ng-click="modalImage(b)">
                    <img class="img-preview center-block" fallback-src="https://raw.githubusercontent.com/PhuongNM4/ImageStore/gh-pages/imgs/photo_not_available.png" ng-src="{{b.url}}" />
                </p>
                <div class="sign"><small>grab some </small><span class="text-info"> FUN</span></div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="div-info">
                    <p>
                        Posted by <strong ng-bind-template="{{b.user}}" class="str-name"></strong> at <strong class="str-name">{{b.time|fromNow}}</strong>
                    </p>
                    <p>
                        Tags: <span bind-html-unsafe="b.tag | splitTags"></span>
                    </p>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="temp-modal">
            <img class="modal-img center-block" fallback-src="https://raw.githubusercontent.com/PhuongNM4/ImageStore/gh-pages/imgs/photo_not_available.png" ng-src="{{block.url}}" />
            <div class="modal-sign"><small>grab some </small><span class="text-info"> FUN</span></div>
        </script>
        <div class="div-divider"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="col-md-offset-7">
        <input type="text" ng-model="query" placeholder="Search" class="navbar-brand" id="searchBox">
        <img class="navbar-brand btn" src="imgs/undo.png" ng-click="resetFilter()" />
    </div>
</nav>
