<div infinite-scroll="loadMore()">
    <div class="div-loading" ng-show="loading">
        <img src="../imgs/loader_1.gif" />
    </div>
    <div ng-repeat="b in blocks | filter: query | orderBy: '-$id'">
        <div class="div-record">
            <div class="div-left">
                <a href="#/view/{{b.$id}}" class="a-title"><span ng-bind-template="{{b.title}}"></span></a>
                <a href="#/view/{{b.$id}}">
                    <img class="img-preview" fallback-src="../imgs/photo_not_available.png" ng-src="{{b.url}}" />
                </a>
                <div class="sign"><small>grab some </small><span class="text-info"> FUN</span></div>
            </div>
            <div class="div-right">
                <div class="div-info">
                    <p>
                        Posted by <strong ng-bind-template="{{b.user}}" class="str-name"></strong> at <strong ng-bind-template="{{b.time}}" class="str-name"></strong>
                    </p>
                    <p>
                        Tags: <span bind-html-unsafe="b.tag | splitTags"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="div-divider"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="col-md-offset-7">
        <input type="text" ng-model="query" placeholder="Search" class="navbar-brand" id="searchBox">
        <img class="navbar-brand btn" src="imgs/undo.png" ng-click="resetFilter()" />
    </div>
</nav>